--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.1+cu121
torchvision==0.18.1+cu121
torchaudio==2.3.1+cu121

pandas
numpy
scikit-learn
scipy
pyarrow
fastparquet
tqdm
jupyterlab
ipykernel
ipywidgets
rich
requests
matplotlib
seaborn
plotly

tensorflow
transformers
lightgbm
datasets
accelerate
evaluate
sentencepiece
tokenizers
huggingface-hub
shap
